aiogram
aiohttp
aiosignal
async-timeout
attrs
Babel
certifi
charset-normalizer
exceptiongroup
frozenlist
h11
idna
magic-filter
multidict
outcome
packaging
Pillow
PySocks
python-dotenv
pytz
requests
selenium
sniffio
sortedcontainers
trio
trio-websocket
urllib3
webdriver-manager
wsproto
yarl
