aiogram==2.25.1
aiohttp
aiosignal
apscheduler
async-timeout
gspread
attrs
Babel
certifi
charset-normalizer
langchain_core
exceptiongroup
frozenlist
langchain_gigachat
h11
idna
magic-filter
multidict
outcome
packaging
Pillow
PySocks
python-dotenv
pytz
requests
selenium
sniffio
sortedcontainers
trio
trio-websocket
urllib3
pandas
webdriver-manager
wsproto
yarl
